# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml

# VS Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.flutter/
.flutter-versions
.packages
.pub-cache/
.pub/
/build/
generated_plugin_registrant.dart

# Symbolication related
app.*.symbols
app.*.symbols.json

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Firebase
google-services.json
firebase_app_id_file.json

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Linux
*~

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Test outputs
test/tmp/
test/output/

# Local environment keys
.env
